
header {
  padding: 10px;
  background: transparent;
  font-family: 'Times New Roman', Times, serif;

}
.logo {
  width: 80%;

}
.logo:hover {
  cursor: pointer;
}
.desktop_menu {
  margin-top: 8%;

}
.desktop_menu ul {
  padding: 0;
  margin: 0;
}
.desktop_menu ul li {
  list-style-type: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 24px;
  margin-left: 26px;
}
.desktop_menu ul li:hover {
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(15, 115, 192);
  transition: 0.3s ease-in-out;
}
.dropdown-item:hover {
  color: rgb(15, 115, 192);
}


.menu-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .desktop_menu {
    position: fixed;
    right: -280px;
    transition: 0.4s ease-in-out;
    top: 24px;
    background: transparent;
    width: 280px;
    height: 100%;
  }
  .desktop_menu ul li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 26px;
  }
  .menu-icon {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 24px; /* Tamaño de fuente más grande para dispositivos móviles */
    padding-top: 10px;
    cursor: pointer; /* Agrega cursor pointer para indicar que es un botón */
  }
  .mobile_menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
