<!-- Footer -->
<div class="container">
  <footer class="text-center text-lg-start text-black w-full mt-5" style="background: transparent;">
      <!-- Grid container -->
      <div class="container">
          <!-- Section: Links -->
          <section style="margin-top: 35%;">
              <!-- Grid row -->
              <div class="row">
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                      <div class="logo">
                          <a href="#" class="onclick">
                              <img src="/assets/logofinal.png" alt="logo">
                          </a>
                      </div>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                      <h5 class="text-uppercase">Inicio</h5>
                      <ul class="list-unstyled mb-0">
                          <li>
                              <a href="/html/index.html" class="text-black">Home</a>
                          </li>
                          <li>
                              <a href="/html/Acerca.html" class="text-black">profesionales</a>
                          </li>
                          <li>
                              <a href="#" class="text-black">categorias</a>
                          </li>
                      </ul>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                      <h5 class="text-uppercase">Legal</h5>
                      <ul class="list-unstyled mb-0">
                          <li>
                              <a href="#!" class="text-black">Privacy Policy</a>
                          </li>
                          <li>
                              <a href="#!" class="text-black">Terminos y condiciones</a>
                          </li>
                          <li>
                              <a href="#!" class="text-black">Licencia</a>
                          </li>
                      </ul>
                  </div>
                  <!-- Grid column -->
                  <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                      <h5 routerLink="/Contacto" class="text-uppercase">Contacto</h5>
                      
                      <ul class="list-unstyled mb-0">
                          <li>
                              <a href="#!" class="text-black">+57 312-548-874</a>
                          </li>
                          <li>
                            <a routerLink="/contactar" class="text-black">Contactar</a>
                        </li>
                          <li>
                              <a href="#!" class="text-black">Psicolbienestar&#64;gmail.com</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- Grid row -->
          </section>
          <hr class="mb-5">
          <!-- Section: Links -->
          <!-- Section: Social media -->
          <section class="mb-4 text-center">
              <!-- Facebook -->
              <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/" role="button">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <!-- Twitter -->
              <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com/" role="button">
                  <i class="fab fa-twitter"></i>
              </a>
              <!-- Google -->
              <a class="btn btn-outline-dark btn-floating m-1" href="https://www.google.com/" role="button">
                  <i class="fab fa-google"></i>
              </a>
              <!-- Instagram -->
              <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/" role="button">
                  <i class="fab fa-instagram"></i>
              </a>
          </section>
          <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: transparent;">
          © 2024 Copyright:
          <a class="text-dark" href="https://www.google.com/">Psicolbienestar.com</a>
      </div>
      <!-- Copyrigt -->
      <!-- <div class="logo-norma">
          <a href="#" class="onclick">
              <img src="/assets/normas-iso9001.png" alt="logo" style="width: 30%;">
          </a>
      </div> -->
  </footer>
</div>
