
     


       <!-- Podcats  -->
       <section  class="popular-categories">
        <div class="container-fluid">
          <div class="text-center">
            <h2 class="text-center">Podcats</h2>
          </div>
          <div class="row">
            <div class="col-lg-6">
            </div>
            <br><br><br>
            <div class="col-lg-6">
              <div class="main-button">
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="popular-item">
                <div class="top-content">
                  <div class="right">
                    <h5>Desarrollo de la autoestima en los niños y adolescentes</h5>
                  </div>
                </div>
                <div class="thumb">
                  <img src="/assets/podcatsautoestima/podcats2.jpg" alt="">
                  <span class="category"><a href="https://www.youtube.com/@psimammoliti">Play</a></span>
                  <span class="likes"><i class="fa fa-heart"></i> 106</span>
                </div>
                <div class="border-button" style="border-radius: 10%; background-color: rgb(7, 126, 57); display: inline-block; padding: 5px;">
                    <a href="https://www.youtube.com/@psimammoliti" style="text-decoration: none; color: white;">Reproducir</a>
                  </div>
              </div>
            </div>


            <div class="col-lg-3 col-sm-6">
              <div class="popular-item">
                <div class="top-content">
                  <div class="right">
                    <h5>Construyendo autoestima: claves para una confianza saludable </h5>
                  </div>
                </div>
                <div class="thumb">
                  <img src="/assets/podcatsautoestima/podcats3.jpg" alt="">
                  <span class="category"><a href="https://www.youtube.com/@psimammoliti">Play</a></span>
                  <span class="likes"><i class="fa fa-heart"></i> 256</span>
                </div>
                <div class="border-button" style="border-radius: 10%; background-color: rgb(7, 126, 57); display: inline-block; padding: 5px;">
                    <a href="https://www.youtube.com/@psimammoliti" style="text-decoration: none; color: white;">Reproducir</a>
                  </div>
                  
              </div>

              
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="popular-item">
                <div class="top-content">
                  
                  <div class="right">
                    <h5>Recomendaciones para disminuirla y recuperar la calma</h5>
                  </div>
                </div>
                <div class="thumb">
                  <img src="/assets/podcatsautoestima/podcat1.jpg" alt="">
                  <span class="category"><a href="https://www.youtube.com/@psimammoliti">Play</a></span>
                  <span class="likes"><i class="fa fa-heart"></i> 56</span>
                </div>
                <div class="border-button" style="border-radius: 10%; background-color: rgb(7, 126, 57); display: inline-block; padding: 5px;">
                    <a href="https://www.youtube.com/@psimammoliti" style="text-decoration: none; color: white;">Reproducir</a>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="popular-item">
                <div class="top-content">
                  
                  <div class="right">
                    <h5>Cómo establecer límites: aprendiendo a priorizarte</h5>
                  </div>
                </div>
                <div class="thumb">
                  <img src="/assets/podcatsautoestima/podcats3.jpg" alt="">
                  <span class="category"><a href="https://www.youtube.com/@psimammoliti">Play</a></span>
                  <span class="likes"><i class="fa fa-heart"></i> 456</span>
                </div>
                <div class="border-button" style="border-radius: 10%; background-color: rgb(7, 126, 57); display: inline-block; padding: 5px;">
                    <a href="https://www.youtube.com/@psimammoliti" style="text-decoration: none; color: white;">Reproducir</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- fin podcats  -->

 <!-- imagenes  -->
 <section class="justify-content-center">
  <div class="section-heading text-center my-5">
    <h2 class="text-center">Libros</h2>
  </div>
 <div class="boxesContainer d-flex justify-content-center">
 
  <div class="cardBox">
    <a href="https://catedraedipica.files.wordpress.com/2010/02/winnicott-realidad-y-juego.pdf">
        <div class="card" style="width: 70%;">
            <div class="front">
                <img src="/assets/recursos/libro1.jpg">
            </div>
            <div class="back">
                <h5>Donald Winnicott</h5>
                <br>
                <p>Realidad y Juego</p>
            </div>
        </div>
    </a>
</div>

 
<div class="cardBox">
  <a href="https://www.academia.edu/28069851/La_nueva_salud_publica">
      <div class="card" style="width: 70%;">
          <div class="front">
              <img src="/assets/recursos/libro2.jpg">
          </div>
          <div class="back">
              <h5>Norman Cousins</h5>
              <br>
              <p>La nueva salud</p>
          </div>
      </div>
  </a>
</div>

 
<div class="cardBox">
  <a href="https://content.e-bookshelf.de/media/reading/L-13971748-c16d8b8471.pdf">
      <div class="card" style="width: 70%;">
          <div class="front">
              <img src="/assets/recursos/libro3.jpg">
          </div>
          <div class="back">
              <h5>Bessel van der Kolk</h5>
              
              <p>El cuerpo lleva la cuenta</p>
          </div>
      </div>
  </a>
</div>
 
<div class="cardBox">
  <a href="https://www.tdx.cat/bitstream/handle/10803/369322/Tesi_Joan_Maestra.pdf;jsessionid=7F46F4C7A5C2D93909354E1AB889C068?sequence=1">
      <div class="card" style="width: 70%;">
          <div class="front">
              <img src="/assets/recursos/libro4.jpg">
          </div>
          <div class="back">
              <h5>Héctor Fdez</h5>
              <p>integración en psicoterapia</p>
          </div>
      </div>
  </a>
</div>
</div>

 <!-- fin imagenes  -->


 <div class="boxesContainer mt-5">

  <div class="cardBox">
    <a href="https://centro-cedita.com/books/Manual%20de%20sexologo%20y%20terapia%20sexual/Manual%20de%20sexologo%20y%20terapia%20sexual.pdf">
        <div class="card" style="width: 70%;">
            <div class="front">
                <img src="/assets/recursos/libro5.jpg">
            </div>
            <div class="back">
                <h5>Francisco Cabello</h5>
                <p>Manual de sexología y terapia</p>
            </div>
        </div>
    </a>
  </div>
 
  <div class="cardBox">
    <a href="https://www.psicociencias.org/pdf_noticias/El_clavo_ardiendo.pdf">
        <div class="card" style="width: 70%;">
            <div class="front">
                <img src="/assets/recursos/libro6.jpg">
            </div>
            <div class="back">
                <h5>Raimundo Guerra </h5>
                <br>
                <p>El Clavo Ardiendo</p>
            </div>
        </div>
    </a>
  </div>

 
  <div class="cardBox">
    <a href="https://conductitlan.org.mx/06_psicologiaclinica/PISCOLOGIA%20CLINICA/TRATAMIENTO/L_Terapia_integral_de_pareja-Barraca.pdf">
        <div class="card" style="width: 70%;">
            <div class="front">
                <img src="/assets/recursos/libro7.jpg">
            </div>
            <div class="back">
                <p>Terapia integral de pareja paso a paso</p>
            </div>
        </div>
    </a>
  </div>
 
  
  <div class="cardBox">
    <a href="https://extension.uned.es/archivos_publicos/webex_actividades/4786/eldialogoestrategico.pdf">
        <div class="card" style="width: 70%;">
            <div class="front">
                <img src="/assets/recursos/libro8.jpg">
            </div>
            <div class="back">
              <h5>Giorgio Nardone</h5>

                <p>El diálogo estratégico</p>
            </div>
        </div>
    </a>
  </div>
</div>
</section>
<br><br><br>
<!-- fin imagenes  -->




