<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- importamos  librerias para el funcionamiento de bootstrap  -->

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/logofinal.png">

  <!-- Custom Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


   <!-- Bootstrap CSS -->
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
   <!-- Bootstrap icons-->
   <link href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
   <!-- Core theme CSS (includes Bootstrap)-->

  <title>about us</title>
</head>
<body>


<!-- contenido  -->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h1 class="text-center mb-4">Desde una perspectiva  profesional</h1>
                  <br><br>
                  <p class="tex-center">Entendemos la importancia de nuestra salud en el mundo laboral, te invitamos a explorar cómo fortalecer esta cualidad que puede potenciar tu desempeño, liderazgo y éxito profesional.</p>
              </div>
          </div>
          <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                  <!-- video -->
                  <video class="img-fluid" controls style="width: 600px; height: 400px;">
                      <source src="/assets/videos/Quiénes somos about.mp4" type="video/mp4">
                      Tu navegador no soporta el elemento de video.
                  </video>
              </div>
          </div>
      </div>
  </div>
</section>
<br><br>
<!-- fin contenido  -->

<br><br><br>
<!-- psicolbienstar bienvenida -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
              <div class="row g-3">
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="/assets/categorias.jpg">
                  </div>
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="/assets/logofinal.png" style="margin-top: 25%;">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="/assets/reseña.jpg">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="/assets/profile.png">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <h1 class="mb-4 text-center">Psicolbienestar te da la bienvenida </h1>
              <br><br>
              <p class="mb-4">En Psicolbienestar, se promueve la diversidad y la inclusión, reconociendo las distintas experiencias y necesidades de cada individuo. Desde artículos educativos y herramientas prácticas hasta terapias online personalizadas y programas de autocuidado, la plataforma está diseñada para brindar el apoyo necesario para enfrentar los desafíos emocionales y desarrollar habilidades de afrontamiento efectivas.</p>
              <p class="mb-4">Los profesionales de Psicolbienestar son expertos en su campo, comprometidos con proporcionar un ambiente seguro y acogedor donde las personas puedan explorar sus preocupaciones y encontrar soluciones que promuevan un mayor bienestar emocional. Además, la comunidad de Psicolbienestar ofrece un espacio de apoyo y conexión donde las personas pueden compartir experiencias, encontrar inspiración y recibir aliento mutuo.</p>
              <div class="row g-4 mb-4">
              </div>
              <br><br>
              <div class="text-center">
              <a class="btn btn-primary py-3 px-5 mt-2 " href="">saber mas</a>
          </div>
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br><br>


<!-- fin  -->




<!-- psicologos descripcion y iconos  -->
<div class="container-xxl pt-5 pb-3">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <!-- <h5 class="section-title ff-secondary text-center text-success fw-normal">Team Members</h5> -->
          <br>
          <h1 class="mb-5" >Interactua con profesionales </h1>
      </div>
      <div class="row g-4">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="team-item text-center rounded overflow-hidden">
                  <div class="rounded-circle overflow-hidden m-4">
                      <img class="img-fluid" src="/assets/profesionales/profesional1.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Harol Londoño</h5>
                  <small>psicoterapeuta.</small>
                  <div class="d-flex justify-content-center mt-3">
                      <a class="btn btn-outline-dark  m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item text-center rounded overflow-hidden">
                  <div class="rounded-circle overflow-hidden m-4">
                      <img class="img-fluid" src="/assets/profesionales/profesional2.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Ana Maria</h5>
                  <small>Psicologa.</small>
                  <div class="d-flex justify-content-center mt-3">
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item text-center rounded overflow-hidden">
                  <div class="rounded-circle overflow-hidden m-4">
                      <img class="img-fluid" src="/assets/profesionales/profesional3.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Jhon Jairop Muñoz</h5>
                  <small>Psicologo.</small>
                  <div class="d-flex justify-content-center mt-3">
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item text-center rounded overflow-hidden">
                  <div class="rounded-circle overflow-hidden m-4" >
                      <img class="img-fluid half-image" src="/assets/profesionales/profesiona1.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Camila Martinez</h5>
                  <small>Asesora</small>
                  <div class="d-flex justify-content-center mt-3">
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- fin psicologos descripcion y iconos  -->



      <!-- funcionalidades de javascript  -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
      <!-- fin funcionalidades de javascript  -->


</body>
</html>
