<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <h2>Autoconfianza</h2>
                <p>
                    <br>
                    <br>
                    La autoconfianza se basa en la confianza en uno mismo en la capacidad para tomar decisiones informadas y actuar de manera efectiva en diversas situaciones. Es un componente crucial del bienestar emocional y del éxito en la vida, ya que influye en la manera en que nos relacionamos con el mundo y en nuestra capacidad para alcanzar nuestros objetivos.
                </p>
                <br>
                <br>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example ">
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#examenmental"
                    >Actividad 1</button>
                    <button
                        type="button"
                        class="btn btn-warning"
                        data-bs-toggle="modal"
                        data-bs-target="#examenmental2"
                    >Actividad 2</button>
                    <button
                        type="button"
                        class="btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#examenmental3"
                    >Actividad 3</button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#examenmental4"
                    >Actividad 4</button>
                </div>
                <!-- Modales para actividad1 -->
                <div
                    class="modal fade"
                    id="examenmental"
                    tabindex="-1"
                    aria-labelledby="examenmentalLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examenmentalLabel">Identificate</h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario del modal-->
                                <form>
                                    <div class="mb-3">
                                        <span class="details"> ¿Qué es la autoconfianza y por qué es importante?
                                        </span>
                                        <textarea
                                            placeholder=" ( conciencia-lenguaje-juicio.spa etc)"
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Cuáles son algunos signos de una persona con alta autoconfianza?

                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details"> ¿Cómo se diferencia la autoconfianza de la arrogancia?
                                        </span>
                                        <textarea
                                            placeholder=" "
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                                <!-- Botón para abrir el modal -->
                                <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#mensajeEnviadoModalLabel"
                                onclick="mensajeEnviadoModalLabel()"
                            >Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- fin actividad  -->

















                <!-- actividad 2  -->
                <div
                    class="modal fade"
                    id="examenmental2"
                    tabindex="-1"
                    aria-labelledby="examenmentalLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examenmentalLabel">Identificate</h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario del modal-->
                                <form>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Qué papel juega la autoconfianza en el éxito personal y profesional?

                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Cuáles son algunas estrategias efectivas para construir la autoconfianza?
                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Qué impacto puede tener la falta de autoconfianza en la vida de una persona?
                                        </span>
                                        <textarea
                                            placeholder=" Antecedentes que refiera el paciente familiares "
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                              <!-- Botón para abrir el modal -->
                              <button
                              type="button"
                              class="btn btn-primary"
                              data-bs-toggle="modal"
                              data-bs-target="#mensajeEnviadoModalLabel"
                              onclick="mensajeEnviadoModalLabel()"
                          >Guardar</button>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- fin actividad 2  -->


















                <!-- actividad 3 -->
                <div
                    class="modal fade"
                    id="examenmental3"
                    tabindex="-1"
                    aria-labelledby="examenmentalLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examenmentalLabel">Identificate</h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario del modal-->
                                <form>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Cómo influyen las experiencias pasadas en la autoconfianza de alguien?
                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Es posible recuperar la autoconfianza después de perderla?
                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿La autoconfianza es innata o se puede desarrollar?
                                        </span>
                                        <textarea
                                            placeholder=" Antecedentes que refiera el paciente familiares "
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                              <!-- Botón para abrir el modal -->
                              <button
                              type="button"
                              class="btn btn-primary"
                              data-bs-toggle="modal"
                              data-bs-target="#mensajeEnviadoModalLabel"
                              onclick="mensajeEnviadoModalLabel()"
                          >Guardar</button>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- fin actividad 3  -->


                <!-- actividad 4  -->
                <div
                    class="modal fade"
                    id="examenmental4"
                    tabindex="-1"
                    aria-labelledby="examenmentalLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="examenmentalLabel">Identificate</h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulario del modal-->
                                <form>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Cuál es la relación entre la autoconfianza y la autoestima?
                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Qué papel juegan los pensamientos y creencias en la autoconfianza?
                                        </span>
                                        <textarea
                                            placeholder=" "
                                            required
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <span class="details">
                                            ¿Cómo puede la comparación con otros afectar la autoconfianza?
                                        </span>
                                        <textarea
                                            placeholder=" Antecedentes que refiera el paciente familiares "
                                            class="form-control"
                                            id="motivo"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                </form>
                            </div>
                          <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                                <!-- Botón para abrir el modal -->
                                <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="mensajeEnviadoModalLabel"
                                onclick="mensajeEnviadoModalLabel()"
                            >Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin actividad 4  -->


























<!-- imagenes carrusel  -->
<div class="col-md-6">
<div class="container-imgenes">
<div class="espacio_img">
<img src="/assets/autoconfianza/autoconfianza1.jpg" alt="">
<img src="/assets/autoconfianza/autoconfianza2.jpg" alt="">
<img src="/assets/autoconfianza/autoconfianza3.jpg" alt="">
<img src="/assets/autoconfianza/autoconfianza4.jpg" alt="">
</div>
</div>
</div>
</div>
</div>
<!-- fin d eimagenes  -->






<!-- podcats  -->
<div id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="section-heading">
                    <h4 style="color:green">Explora nuestros podcats que tenemos para ti.</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="thumb text-right">
                        <!-- Reemplaza esta etiqueta de imagen con una etiqueta de video -->
                        <video
                            src="/assets/videos/aotuestima.mp4"
                            controls
                            muted
                            loop
                            style="width: 100%;"
                        ></video>
                    </div>
                    <div class="down-content">
                        <br>
                        <span class="category" style="background-color: green;">Autoconfianza</span>
                        <span class="date">03 August 2021</span>
                        <br>
                        <br>
                        <br>
                        <!-- <a href="#">
          <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adelore Eiusmod Tempor Incididunt</h4>
        </a> -->
                        <p>
                            La autoconfianza es la creencia en uno mismo y en las propias habilidades para enfrentar desafíos y lograr metas. Es la certeza interna de que se pueden superar obstáculos y alcanzar el éxito, lo que conduce a una actitud positiva, determinación y resiliencia frente a las dificultades.</p>
                        <span class="author">
                            <img src="/assets/logofinal.png" alt="">
                            Psicolbienestar
                        </span>
                        <div class="border-first-button">
                            <div class="border-first-button">
                                <a href="#" class="category" style="background-color: rgb(0, 76, 255); border-radius: 15px; padding: 10px 20px; display: inline-block; text-decoration: none; color: white;">Descubrir más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <!-- psicologo  -->
                <div class=" row justify-content-center align-items-center">
                    <div class="col-lg-9 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="blog-post ali">
                            <div class="thumb text-center">
                                <!-- Reemplaza esta etiqueta de imagen con una etiqueta de imagen -->
                                <img src="/assets/profesionales/profesional2.jpg" alt="Descripción de la imagen" style="width: 90%;">
                            </div>
                            <div class="down-content text-center">
                                <br>
                                <span class="date">03 August 2021</span>
                                <br>
                                <br>
                                <!-- <a href="#">
                      <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adelore Eiusmod Tempor Incididunt</h4>
                  </a> -->
                                <p> Reconoce y celebra los logros individuales y colectivos, fomentando un sentido de orgullo y satisfacción personal que fortalezca la autoconfianza y la autoestima.</p>
                                <br>
                                <br>
                                <span class="author">
                                    <img src="/assets/logofinal.png" alt="">
                                    Psicolbienestar
                                </span>
                                <div class="border-first-button"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin psicolo  -->
            <!-- Aquí puedes seguir reemplazando las imágenes con videos de manera similar -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="post-item">
                            <div class="thumb text-right">
                                <img src="/assets/podcatsautoestima/podcat1.jpg" style="max-width: 95%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item">
                            <div class="right-content text-right">
                                <a href="https://www.youtube.com/watch?v=hdxXabJaJPI&ab_channel=DJElectricSamurai">
                                    <span class="category" style="background-color:green;">Explorar</span>
                                </a>
                                <a href="#">
                                    <h4>Desarrollo de la autoestima en niños y adolescentes</h4>
                                </a>
                                <p>
                                    <span class="psicol">Psicol</span>
                                    <span class="bienestar">bienestar</span>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- videos estilo youtube  -->
                <div class="row">
                    <div class="col-lg-5">
                        <div class="post-item">
                            <div class="thumb text-right">
                                <img src="/assets/podcatsautoestima/podcats2.jpg" style="max-width: 95%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item">
                            <div class="right-content text-right">
                                <a href="https://www.youtube.com/watch?v=Zmq2W8NH1D0&ab_channel=LauraRibas">
                                    <span class="category" style="background-color:green;">Explorar</span>
                                </a>
                                <a href="#">
                                    <h4> Cómo aumentar tu CONFIANZA en ti mismo</h4>
                                </a>
                                <p>
                                    <span class="psicol">Psicol</span>
                                    <span class="bienestar">bienestar</span>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="post-item">
                            <div class="thumb text-right">
                                <img src="/assets/podcatsautoestima/podcats3.jpg" style="max-width: 95%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item">
                            <div class="right-content text-right">
                                <a href="https://www.youtube.com/watch?v=NnpcrIswiVw&ab_channel=TengounPlan">
                                    <span class="category" style="background-color:green;">Explorar</span>
                                </a>
                                <a href="#">
                                    <h4>3 Claves para Aument tu Confianza en ti mismo</h4>
                                </a>
                                <p>
                                    <span class="psicol">Psicol</span>
                                    <span class="bienestar">bienestar</span>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>